*.log
*.tmp
*.swp
*.editorconfig
.DS_Store
Thumbs.db

**/node_modules/
**/dist/
**/out-tsc/
**/.angular/
**/.env
**/package-lock.json
**/yarn.lock
**/.vscode/
**/.idea/
**/.nx/
**/bin/
**/obj/
**/.vs/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/*.dbmdl
**/publish/
**/TestResults/
**/appsettings.Development.json
**/appsettings.Local.json
**/.idea/
**/*.DotSettings.user
**/.DS_Store
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
**/$RECYCLE.BIN/
**/*~
.env
.env.*.local
